/* Header related styles */
.header-container {
    max-width: 1170px;
    margin: 52px auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 44px;
}

.nav-item {
    list-style: none;
}

.nav-list a {
    color: var(--desc-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

#switch-color a {
    color: var(--brand-color);
    font-weight: 700;
}

/* Hero related Styles */
.hero-area {
    margin: 58px 0;
}

.hero-container {
    background-image: url(../Images/explore.png);
    background-color: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    padding: 106px 185px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-content {
    text-align: center;
}

.hero-title {
    color: var(--simple-color);
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 28px;
}

.hero-desc {
    color: var(--simple-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 52px;
}

.location-finder {
    display: flex;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    padding: 16px;
    gap: 24px;
    justify-content: center;
}

.location-finder input {
    padding: 16px;
    width: 140px;
    border-radius: 8px;
    border: none;
    color: var(--desc-color);
}

.location-finder select {
    padding: 16px;
    width: 172px;
    border-radius: 8px;
    border: none;
    height: 56px;
    color: var(--desc-color);
}


.btn-primary {
    display: flex;
    background-color: var(--brand-color);
    padding: 16px 34px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: var(--simple-color);
    align-items: center;
    gap: 8px;
}

/* main styles */
/* Popular section related styles */
.main-container {
    max-width: 1170px;
    margin: 0 auto;
}

.popular-tour-container {
    display: flex;
    gap: 52px;
    align-items: center;
}

.tour-title {
    color: var(--title-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.popular-tour-desc-content .tour-desc {
    font-size: 16px;
    color: var(--desc-color);
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 24px;
}

.tour-point .tour-point-item {
    font-size: 16px;
    color: var(--desc-color);
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 16px;
}

.tour-point {
    width: 90%;
}

.main-btn {
    color: var(--simple-color);
    background-color: var(--brand-color);
    font-size: 18px;
    font-weight: 600;
    padding: 14px 32px;
    border: 0;
    border-radius: 8px;
}

/* Destination Section related styles */
.destination-container {
    margin: 100px 0;
}

.destination-content {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 640px;
}

.destination-title {
    color: var(--title-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination-desc {
    color: var(--desc-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.popular-destination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;

}

.popular-destination-location {
    position: relative;
}

.center-text {
    color: var(--simple-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

/* Why Choose Us related styls */
.choose-us-content {
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.choose-us-title {
    color: var(--title-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.choose-us-desc {
    color: var(--desc-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.choose-us-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.choose-us-card-item:nth-child(3) {
    grid-column: span 2;
}

.choose-us-card-item {
    padding: 32px;
    border-radius: 16px;
}

.choose-us-card-title {
    color: var(--title-color);
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.choose-us-card-desc {
    font-size: 16px;
    color: var(--desc-color);
    font-weight: 500;
    line-height: 26px;
}

#color-a {
    background-color: #FFFBF7;
    border: 1px solid #FFE8CE;
}

#color-b {
    background-color: #F4FCFE;
    border: 1px solid #C6F4FF;
}

#color-c {
    background-color: #FFF2F2;
    border: 1px solid #FBCBCB;
    max-width: 48%;
    margin: 0 auto;
}

/* Deals & Discounts Related styles */
.deals-container {
    margin: 100px 0;
}

.deals-content {
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.deals-content-title {
    color: var(--title-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.deals-content-desc {
    color: var(--desc-color);
    font-size: 16px;
    font-weight: 500;
}

.deals-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.deals-card {
    max-width: 452px;
    padding: 52px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-left: auto;
}

#deals-card-b {
    margin-left: 0;
    margin-right: auto;
}

#deals-a,
#deals-c {
    background-image: url(../Images/deals-a.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 56px 56px 56px 0;
}

#deals-b {
    background-image: url(../Images/deals-b.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 56px 0 56px 56px;
}

.simple-details {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.simple-details-items {
    display: flex;
    gap: 8px;
    align-items: center
}

.simple-details-items h5 {
    color: var(--desc-color);
}

/* .simple-details-content{
    margin-right: 52px;
} */

.simple-details-title {
    color: var(--title-color);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.simple-details-desc {
    color: var(--desc-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.simple-details-price {
    color: var(--brand-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 24px;
}

/* Newsletter Section Related Styls */
.newsletter-container {
    display: flex;
    margin: 100px 0;
    gap: 24px;
    align-items: center;
}

.newsletter-content {
    border: 1px solid var(--brand-color);
    border-radius: 16px;
    padding: 40px;
}

.newsletter-text {
    margin-bottom: 24px;
}

.newsletter-title {
    color: var(--title-color);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.newsletter-desc {
    color: var(--desc-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 24px;
}

.newsletter-filed {
    justify-content: center;
}

.newsletter-filed form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.newsletter-filed label {
    width: 100%;
}

.newsletter-filed input[type="text"],
.newsletter-filed input[type="email"] {
    width: 90%;
    padding: 16px 20px;
    border-radius: 8px;
    border: none;
    line-height: 25px;
    background-color: #F3F3F3;
}

.newsletter-filed input[type="submit"] {
    cursor: pointer;
    width: 100%;
    line-height: 25px;
    border-radius: 8px;
    padding: 16px 20px;
    margin-top: 8px;
    font-size: 20px;
    border: none;
    color: var(--simple-color);
    font-weight: 800;
    background-color: var(--brand-color);
}

.newsletter-img-container {
    position: relative;
}

.newsletter-img-container img {
    height: 439px;
}

.newsletter-img-overflow {
    background-color: var(--brand-color);
    padding: 24px 44px;
    border-radius: 16px;
    position: absolute;
    top: 60%;
    left: 52%;
    transform: rotate(-20deg);
    text-align: center;
}

.newsletter-img-overflow a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: var(--simple-color);
    margin-bottom: 5px;
}

.newsletter-img-overflow h4 {
    color: var(--simple-color);
    font-size: 32px;
    font-weight: 700;
}

/* Footer Related Styles */
.footer-container {
    background-color: #F9F7F7;
}

.footer-content {
    text-align: center;
    max-width: 872px;
    margin: 0 auto;
    padding: 110px 0;
}

.footer-logo {
    margin-bottom: 16px;
}

.footer-desc {
    color: var(--desc-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0 38px;
    margin-bottom: 32px;
}

.socail-links {
    display: flex;
    gap: 12px;
    margin-bottom: 48px;
    align-items: center;
    justify-content: center;
}
.socail-links img{
    height: 36px;
    width: 36px;
}

.copy-right {
    margin-top: 52px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    color: var(--desc-color);
}